.form-cover{
	color: #ededed !important;
}
.card_form label{
	color: #000 !important;
}
.card_form input {
    color: #000 !important;
    border: 1px solid #ededed !important;
}
input::placeholder{
	color: #5d5c5c !important;
}
.card{
	z-index: 99999999;
}
h4.card-title{
	color: #000 !important;
	text-align: center;
}